<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>EverFind admin</title>
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>

    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>A<span>dmin</span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                <h4>Santiago Escobar</h4>
                <small>Administrador</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="admin" class="active">
                            <span class="las la-home"></span>
                            <small>Inicio</small>
                        </a>
                    </li>
                    <li>
                        <a href="petitions">
                            <span class="las la-envelope"></span>
                            <small>Solicitudes</small>
                        </a>
                    </li>
                    <li>
                        <a href="pets">
                            <span class="las la-paw"></span>
                            <small>Mascotas</small>
                        </a>
                    </li>
                    <li>
                        <a href="logout">
                            <span class="las la-sign-out-alt"></span>
                            <small>Cerrar sesión</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">


                    <div class="notify-icon">
                       
                    </div>

                    <div class="notify-icon">
                        
                    </div>

                    <div class="user">
                        <div class="bg-img" style="background-image: url()"></div>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Panel de control</h1>
                <small>Inicio / Info</small>
            </div>

            <div class="page-content">



                <div class="analytics">

                    <div class="card <%= userCount > 0 ? '' : 'hidden' %>">
                        <div class="card-head">
                            <h2><%= userCount %></h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>Usuarios registrados</small>
                        </div>
                    </div>
                    
                    <!-- Tarjeta de Mascotas Publicadas -->
                    <div class="card <%= petCount > 0 ? '' : 'hidden' %>">
                        <div class="card-head">
                            <h2><%= petCount %></h2>
                            <span class="las la-paw"></span>
                        </div>
                        <div class="card-progress">
                            <small>Mascotas publicadas</small>
                        </div>
                    </div>
                    
                    <% if (userCount === 0) { %>
                        <!-- Imagen cuando no hay usuarios -->
                        <div class="no-users-container">
                            <img src="ruta/de/la/imagen.jpg" alt="Imagen sin usuarios">
                            <p>No hay usuarios registrados en este momento.</p>
                        </div>
                    <% } %>

                    <div id="messageModal" class="modal">
                        <!-- Contenido del Modal -->
                        <div class="modal-content">
                            <span class="close" id="closeMessageModal">&times;</span>
                            <form id="messageForm" class="messageForm">
                                <h2>Enviar Mensaje</h2>
                                <label for="message">Mensaje:</label>
                                <textarea id="message" name="message" rows="4" cols="50" required></textarea>
                                <br>
                                <input type="submit" value="Enviar" id="sendMessage">
                            </form>
                        </div>
                    </div>

                    <div id="" class="modal-envio" style="display: none;">
                        <div class="contenido-modal-envio">
                            <div class="icono-verificado">&#10004;</div>
                            <p>Mensaje enviado con éxito.</p>
                        </div>
                    </div>

                    <!-- Modal de Confirmación -->


                    <% users.forEach(function(user, index) { %>
                        <div id="userModal<%= user.id %>" class="modal">
                            <!-- Contenido del Modal -->
                            <div class="modal-content">
                                <span class="close" id="closeUserModal<%= user.id %>" data-modal-id="userModal<%= user.id %>">&times;</span>
                                <div class="userInfo">
                                    <!-- Contenido de la información del usuario -->
                                    <div class="user">
                                        <div class="profile-pic">
                                            <img src="<%= user.profileImage %>" alt="Foto de perfil">
                                        </div>
                                    </div>
                                    <div class="name">
                                        <%= user.name %>
                                    </div>
                                    <div class="email">
                                        <p><%= user.email %></p>
                                    </div>
                                    <div class="phone">
                                        <p><%= user.phone %></p>
                                    </div>
                                    <div class="city">
                                        <p><%= user.city %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    
                    <script>
                        // Obtén los elementos <span> que cierran los modales
                        var closeUserModalButtons = document.querySelectorAll("[id^='closeUserModal']");
                    
                        // Función para cerrar cualquier modal por ID
                        function closeModal(modalId) {
                            var modal = document.getElementById(modalId);
                            if (modal) {
                                modal.style.display = "none";
                            }
                        }
                    
                        // Asigna manejadores de eventos a los elementos que cierran los modales
                        closeUserModalButtons.forEach(function (button) {
                            button.addEventListener("click", function () {
                                var modalId = button.getAttribute("data-modal-id");
                                closeModal(modalId);
                            });
                        });
                    </script>


                    



                </div>


                <div class="records table-responsive">



                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th></span>NOMBRE</th>
                                    <th></span>VER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user, index) => { %>
                                    <tr>
                                      <td>
                                        <div class="client">
                                          <div class="client-img bg-img" style="background-image: url('<%= user.profileImage %>')"></div>
                                          <div class="client-info">
                                            <h4>
                                              <%= user.name %>
                                            </h4>
                                            <small>
                                              <%= user.email %>
                                            </small>
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="actions">
                                            <span data-title="Ver" class="las la-eye" id="openUserModal<%= user.id %>" data-modal-id="userModal<%= user.id %>"></span>
                                        </div>
                                      </td>
                                    </tr>
                                  <% }); %>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </main>

    </div>
    <script>
        document.getElementById("iconTrigger").addEventListener("click", function () {
            var overflowMenu = document.getElementById("overflowMenu");
            overflowMenu.style.display = overflowMenu.style.display === "block" ? "none" : "block";
        });

        // Opcional: Cerrar el menú si se hace clic fuera de él
        window.onclick = function (event) {
            if (!event.target.matches('#iconTrigger')) {
                var dropdowns = document.getElementsByClassName("overflow-menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>

    <script src="./adminModal.js"></script>

</body>

</html>