<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./styles/settings.css">
    <title>Give up for adoption</title>
</head>

<body>
    
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-bone'></i>
            <div class="logo-name"><span>Fur</span>EverFind</div>
        </a>
        <ul class="side-menu">
            <li><a href="home"><i class='bx bx-heart'></i>Adoptar</a></li>
            <li class="active"><a href="giveto"><i class='bx bx-send'></i>Dar en adopción</a></li>
            <li><a href="requests.html"><i class='bx bx-file'></i>Solicitudes</a></li>
            <li><a href="profile.html"><i class='bx bx-user'></i>Perfil</a></li>
            <!-- <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li> -->
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
    
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="images/logo.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        
        <main>
            <div class="header">
                <div class="left">
                    <h1>My pets</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Home
                            </a></li>
                        /
                        <li><a href="#" class="active">Give up for adoption</a></li>
                    </ul>
                </div>
            </div>  

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-calendar-check'></i>
                        <h3>Pets Status</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Animal</th>
                                <th>Raza</th>
                                <th>Estado</th>
                                <th>Editar</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% pets.reverse().forEach(function(pet) { %>
                                <tr>
                                    <td>
                                        <img src="" alt="photo">
                                    </td>
                                    <td>
                                        <p><%= pet.name%></p>
                                    </td>
                                    <td>
                                        <p><%= pet.age %></p>
                                    </td>
                                    <td>
                                        <p>
                                            <%= pet.type %></p>
                                        </p>
                                    </td>
                                    <td>
                                        <span><p><%=pet.breed%></span></p>
                                    </td>
                                    <td><span class="<%= pet.status === 'Castrado' || pet.status === 'Esterilizado' ? 'status completed' : 'status pending' %>">
                                        <%= pet.status %></td>
                                    <!-- <td><%= pet.createdAt.toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: '2-digit' }) %></td> -->
                                    
                                    <td><span id="btn-abrir-modal" class="edit"><a><i class='bx bx-pencil'></i></a></span></td>
                                        <td><span class="delete"><a href="/delete/<%= pet._id %>" onclick="return confirm('¿Estás seguro de que deseas eliminar esta mascota?')"><i class='bx bx-trash'></i></a></span></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    
                </div>

                
                

                <!-- Reminders -->
                <div class="reminders">
                    <div class="header">
                        <i class='bx bx-plus'></i>
                        <h3>Postular mascota</h3>
                        <i class='bx bx-filter'></i>
                    </div>
                    <form action="/addPet" method="post">
                        <div class="addPet">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                      
                        <div class="addPet">
                            <label for="age">Edad:</label>
                            <input type="number" id="age" name="age" required>
                        </div>
                      
                        <div class="addPet">
                            <label for="type">Animal:</label>
                            <select id="type" name="type" required>
                                <option value="Perro">Perro</option>
                                <option value="Gato">Gato</option>
                            </select>
                        </div>
                      
                        <div class="addPet">
                            <label for="breed">Raza:</label>
                            <input type="text" id="breed" name="breed" required>
                        </div>
                    
                        <div class="addPet">
                            <label>¿Estado?</label>
                            <div class="radio-group">
                                <input type="radio" id="si" name="status" value="Esterilizado">
                                <label for="si">Esterilizado</label>
                                <input type="radio" id="no" name="status" value="Castrado">
                                <label for="Castrado">Castrado</label>
                                <input type="radio" id="no" name="status" value="Ninguno">
                                <label for="Ninguno">Ninguno</label>
                            </div>
                        </div>
                      
                        <div class="addPet">
                            <label for="description">Descripción de la mascota:</label>
                            <textarea id="description" name="description" rows="4" required></textarea>
                        </div>
                      
                        <!-- Agrega otros campos si es necesario -->
                      
                        <button type="submit">Guardar Mascota</button>
                    </form>
                      
                    <!-- <ul class="task-list"> -->
                        <!-- <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Successfully</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>Successfully</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Sorry, we couldn't add it this time</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Sorry, we couldn't add it this time</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Sorry, we couldn't add it this time</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>Sorry, we couldn't add it this time</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li> -->
                            <!--Campo para el nombre de la mascota -->
                            <!--Edad-->
                            <!--Tipo de animal-->
                            <!--Raza-->
                            <!--Género-->
                            <!-- Botón para enviar el formulario -->
                            
                    </ul>
                </div>

                <!-- End of Reminders-->

            </div>

        </main>

    </div>

    <script>
        // Obtén referencias a los campos de entrada
        const name = document.getElementById('name');
        const breed = document.getElementById('breed');
        const description = document.getElementById('description');
        // Función para capitalizar la primera letra
        function capitalizeFirstLetter(inputField) {
            const value = inputField.value;
            if (value.length > 0) {
                inputField.value = value.charAt(0).toUpperCase() + value.slice(1);
            }
        }

        // Agrega un controlador de eventos al campo de nombre
        name.addEventListener('input', function () {
            capitalizeFirstLetter(this);
        });

        // Agrega un controlador de eventos al campo de apellido
        breed.addEventListener('input', function () {
            capitalizeFirstLetter(this);
        });

        description.addEventListener('input', function () {
            capitalizeFirstLetter(this);
        });
    </script>

    <script src="giveTo.js"></script>
    <script src="dashboard.js"></script>
</body>

</html>