<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="icon" href="./assets/img/index/logo-removebg-preview.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Op1e/ZLL9Y6zYk5t/63yLWuFwY5lP63Tb1XHN9R0A3tuuU5Joc3ePS5gNH8rjzfuSoOPSnimmd27eyjj8cx4LbA==" crossorigin="anonymous" />

    <title>Inicio</title>
</head>

<body>

    <script src="/socket.io/socket.io.js"></script>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-bone'></i>
            <div class="logo-name"><span>Ever</span>Find</div>
        </a>
        <ul class="side-menu">
            <li class="active"><a href="home"><i class='bx bx-heart'></i>Adoptar</a></li>
            <li><a href="giveto"><i class='bx bx-send'></i>Dar en adopción</a></li>
            <li><a href="requests"><i class='bx bx-file'></i>Solicitudes</a></li>
            <li><a href="profile"><i class='bx bx-user'></i>Perfil</a></li>
            <!-- <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li> -->
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            
            <a href="#" class="notif" onclick="toggleNotifi()">
                <i class='bx bx-bell'></i>
                <span class="count"><%= friends.length %></span>
            </a>
            <a href="/profile" class="profile" >
                <% if (user && user.profileImage) { %>
                    <img src="<%= user.profileImage %>" alt="Imagen de perfil"
                        class="d-block ui-w-80">
                    <% } else { %>
                        <img src="./assets/img/defaultProfilePic.png"
                            alt="Imagen predeterminada" class="d-block ui-w-80">
                        <% } %>
            </a>
            <div class="notifi-box" id="box">
                
                <h2>Notificaciones <span><%= friends.length %></span></h2>
                <% friends.forEach(friend => { %> 
                <div class="notifi-item">
                    <img src="img/avatar1.png" alt="img">
                    <div class="text">
                       <h4><%= friend.name %></h4>
                       <p>Solicitó tu mascota</p>
                    </div> 
                </div>
                <% }); %>
            </div>
        </nav>

        <!-- End of Navbar -->

        <main>
            <% if (showWelcomeMessage) { %>
                <div class="welcome-message">
                    <h2>Bienvenido/a a la comunidad de EverFind</h2>
                    <p>Estamos emocionados de tenerte con nosotros. Explora y comparte tu amor por los animales.</p>
                    <img src="./Brazuca - Sitting.png" alt="Gato y perro amigos">
                    <a href="#" class="scroll-down-arrow" onclick="scrollToContent()">
                        <i class="fas fa-arrow-down"></i>
                    </a>
                </div>
            <% } %>

            <script>
                function scrollToContent() {
    const contentElement = document.getElementById('petsAvailable'); // Reemplaza 'id-de-tu-contenido' con el ID de tu contenido
    if (contentElement) {
        contentElement.scrollIntoView({ behavior: 'smooth' }); // Desplazamiento suave hacia el contenido
    }
}
            </script>
            <div class="header">
                <div class="left">
                    <h1>Inicio</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Mascotas
                            </a></li>
                        /
                        <li><a href="#" class="active">Adoptar</a></li>
                    </ul>
                </div>
            </div>

            <!-- Insights -->
            
            <ul class="insights">
                
                <li>
                    
                    <i class='bx bxs-dog'></i>
                    <span class="info">
                        <h3>
                            Perros
                        </h3>
                        <p><%= dogCount %></p>
                    </span>
                </li>
                <li><i class='bx bxs-cat'></i>
                    <span class="info">
                        <h3>
                            Gatos
                        </h3>
                        <p><%= catCount %></p>
                    </span>
                </li>
                <!-- <li><i class='bx bx-line-chart'></i>
                        <span class="info">
                            <h3>
                                14,721
                            </h3>
                            <p>Searches</p>
                        </span>
                    </li>
                    <li><i class='bx bx-dollar-circle'></i>
                        <span class="info">
                            <h3>
                                $6,742
                            </h3>
                            <p>Total Sales</p>
                        </span>
                    </li> -->
            </ul>
            <!-- End of Insights -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <h3>Mascotas disponibles</h3>
                    </div>

                    

                    <div class="pets-available" id="petsAvailable">
                        <% if (pets.length > 0) { %>
                            <% pets.forEach(function(pet, index) { %>
                                <div class="pet-container">
                                    <article class="pet-view">
                                        <div class="pet-background">
                                            <img src="<%= pet.imagePath %>" alt="Foto de la Mascota <%= index %>">
                                        </div>
                                        <div class="pet-info">
                                            <div class="pet-info-column">
                                                <div class="name-gender">
                                                    <div class="name">
                                                        <h2 style="color: black;"><%= pet.name %></h2>
                                                    </div>
                                                </div>
                                                <div class="age">
                                                    <p>Edad: <%= pet.age %> años</p>
                                                </div>
                                                <div class="age">
                                                    <p><%= pet.breed %></p>
                                                </div>
                                                <div class="more">
                                                    <button class="open-modal-btn btn-more" data-index="<%= index %>">Información</button>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="no-pets-container">
                                <img src="./Tutto Ricco - Walking In the Park.png" alt="Imagen referente">
                                <!-- o puedes usar un SVG en lugar de una imagen -->
                                <!-- <svg> ... </svg> -->
                                <p>No hay mascotas disponibles en este momento.</p>
                            </div>
                        <% } %>
                      </div>
                      
                      <!-- Modales para todas las mascotas -->
                      <% pets.forEach(function(pet, index) { %>
                        <div id="modal<%= index %>" class="modal">
                            <div class="modal-content">
                                <!-- Contenido del modal para la mascota actual -->
                                <div class="modal-left">
                                    <img src="<%= pet.imagePath %>" alt="Foto de la Mascota <%= index %>">
                                </div>
                                <div class="modal-right">
                                    <h2><%= pet.name %></h2>
                                    <p>Edad: <%= pet.age %> años</p>
                                    <p>Raza: <%= pet.breed %></p>
                                    <p>Estado: <%= pet.status %></p>
                                    <p>Dueño: <%= pet.owner %></p>
                                    <p>Descripción: <%= pet.description %></p>
                    
                                    <!-- ... Otros detalles de la mascota ... -->
                                </div>
                    
                                <!-- Botón para cerrar el modal y formulario para solicitar amistad -->
                                <div class="button-container">
                                    <button class="close-modal-btn back" data-index="<%= index %>">
                                        <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> Cerrar
                                    </button>
                    
                                    <form action="/addFriend" method="post">
                                        <input type="hidden" name="userId" value="<%= currentUserId %>">
                                        <input type="hidden" name="friendId" value="<%= pet.owner %>">
                                        <% if (pet.owner && pet.owner !== User._id) { %>
                                            <button type="submit" class="green-button">Solicitar <i class="fa-solid fa-plus"></i></button>
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>

        </main>

    </div>
    <script>
        const socket = io();
    </script>

    <script src="dashboard.js"></script>
    <script src="/socket.io/socket.io.js"></script>
     <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
      integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
      crossorigin="anonymous"
    ></script>
    
    <script src="dashboard.js"></script>
</body>

</html>