<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>EverFind admin</title>
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>A<span>dmin</span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                <h4>Santiago Escobar</h4>
                <small>Administrador</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="admin">
                            <span class="las la-home"></span>
                            <small>Inicio</small>
                        </a>
                    </li>
                    <li>
                        <a href="petitions" class="active">
                            <span class="las la-envelope"></span>
                            <small>Solicitudes</small>
                        </a>
                    </li>
                    <li>
                        <a href="pets">
                            <span class="las la-paw"></span>
                            <small>Mascotas</small>
                        </a>
                    </li>
                    <li>
                        <a href="logout">
                            <span class="las la-sign-out-alt"></span>
                            <small>Cerrar sesión</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">


        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">

                    <div class="notify-icon">
                        
                    </div>

                    <div class="notify-icon">
                        
                    </div>

                    <div class="user">
                        <div class="bg-img" style="background-image: url()"></div>

                        
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Panel de control</h1>
                <small>Inicio / Panel</small>
            </div>

            <% petRequests.forEach(pet => { %>
                <% if (!pet.approved) { %>
            <div id="petInfoModal" class="modal">
                <!-- Contenido del Modal -->
                <div class="petModal">
                    <span class="close" id="closePetModal">&times;</span>
                    <div class="carousel">
                        <div class="carousel-images">
                            <img src="<%= pet.imagePath %>" alt="Imagen 1">
                        </div>
                        
                    </div>
                    
                    <div class="petName"><%= pet.name %></div>
                    <div class="petAge">Edad: <%= pet.age %></div>
                    <div class="petBreed">Raza: <%= pet.breed %></div>
                    <div class="petBreed">Descripción: <%= pet.description %></div>

                </div>
            </div>
            <% } %>
            <% }); %>


            <div class="page-content">

                <div class="records table-responsive">
                    <% if (petRequests.length === 0) { %>
                        <!-- Si no hay solicitudes pendientes -->
                        <div class="no-requests">
                            <img src="./The Little Things - Working.png" alt="No hay solicitudes pendientes">
                            <p>No hay solicitudes pendientes en este momento.</p>
                        </div>
                    <% } else { %>
                        <!-- Si hay solicitudes pendientes -->
                        <% petRequests.forEach(pet => { %>
                            <% if (!pet.approved) { %>
                                <div class="petRequest">
                                    <img src="<%= pet.imagePath %>" alt="Foto de Mascota" class="petPhoto">
                                    <span class="petName"><%= pet.name %></span>
                                    <span class="las la-eye viewIcon" id="openModal"></span>
                
                                    <!-- Formulario de Aceptar con Alerta de Confirmación -->
                                    <form action="/accept" method="post" onsubmit="return confirmAccept()">
                                        <input type="hidden" name="petName" value="<%= pet.name %>">
                                        <button type="submit" class="las la-check acceptButton"></button>
                                    </form>
                
                                    <!-- Formulario de Denegar con Alerta de Confirmación -->
                                    <form action="/deny" method="post" onsubmit="return confirmDeny()">
                                        <input type="hidden" name="petName" value="<%= pet.name %>">
                                        <button type="submit" class="las la-times denyButton"></button>
                                    </form>
                                </div>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>

            </div>

        </main>

    </div>

    <script>
        function confirmAccept() {
            return Swal.fire({
                title: 'Mascota aceptada',
                icon: 'success',
                showCancelButton: true,
            }).then((result) => {
                return result.isConfirmed;
            });
        }
    
        function confirmDeny() {
            return Swal.fire({
                title: 'Mascota rechazada',
                icon: 'error',
                showCancelButton: true,
                
            }).then((result) => {
                return result.isConfirmed;
            });
        }
    </script>

    <script>
        let currentImageIndex = 0;
const images = document.querySelectorAll('.carousel-images img');

function changeImage(step) {
    images[currentImageIndex].style.display = 'none';
    currentImageIndex = (currentImageIndex + step + images.length) % images.length;
    images[currentImageIndex].style.display = 'block';
}

// Inicializa el carrusel mostrando la primera imagen
changeImage(0);

        document.addEventListener('DOMContentLoaded', function() {
    var petInfoModal = document.getElementById("petInfoModal");
    var openModal = document.getElementById("openModal");
    var closePetModal = document.getElementById("closePetModal");

    // Función para abrir el modal
    if (openModal) {
        openModal.addEventListener('click', function() {
            petInfoModal.style.display = "block";
        });
    }

    // Función para cerrar el modal
    if (closePetModal) {
        closePetModal.addEventListener('click', function() {
            petInfoModal.style.display = "none";
        });
    }

    // Cierra el modal si se hace clic fuera de su contenido
    window.addEventListener('click', function(event) {
        if (event.target == petInfoModal) {
            petInfoModal.style.display = "none";
        }
    });
});
    </script>
    <script src="../adminModal.js"></script>

</body>

</html>